main {
    width: clamp(120rem, 100%, 100%);
    height: clamp(50rem, 90vh, 90vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}