header {
    background-color: #011627;
    display: flex;
    gap: 2rem;
    padding: 20px;
    position: relative;
    z-index: 1;
    height: clamp(6rem, 10vh, 10vh);
    min-width: calc(100vw);
    align-items: center;
    color: #FDFFFC;
    justify-content: space-between;
}