.grid-node {
    background: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    transition: background 100ms ease;
}

.grid-node > * {
    display: none;
}

.grid-node:hover {
    background: #FF9F1C;
}

.isStart, .isEnd {
    background: var(--tertiary-color);
}

.isWall {
    background: var(--primary-color);
} 

:not(.isStart, .isEnd).isSeen {
    animation: search 1s ease-in-out 1;
    background: var(--secondary-color);
}

:not(.isStart, .isEnd).isPath {
    animation: path 1s ease-in-out 1;
    background: var(--tertiary-color);
}

.grid-node > .isStart, .grid-node > .isEnd, .grid-node > .isWall {
    display: inline-block;
    font-size: clamp(.5rem, 1.3vw, 3rem);
}

@keyframes path {
    0% {
        background: var(--light-color);
    }
    33% {
        background: var(--dark-color);
    }
    66% {
        background: var(--primary-color);
    }
    100% {
        background: var(--tertiary-color);
    }
}

@keyframes search {
    0% {
        background: var(--light-color);
    }
    50% {
        background: var(--tertiary-color);
    }
    100% {
        background: var(--secondary-color);
    }
}